@charset "UTF-8";

body {
	background-color: rgb(197, 229, 241);
	margin: 0;
    padding: 0;
    min-height: 100vh; /* Minimum height of the viewport */
    display: flex;
    flex-direction: column;
	
}

footer {
    background-color: rgb(211, 245, 255);
    color: dark blue; /* Example text color */
    padding: 20px;
    margin-top: auto; /* Push the footer to the bottom */
    font-family: Arial, Helvetica, sans-serif;
}

.column {
  float: left;
  width: 33.3%;
  justify-content: center; /* Add this line to horizontally center content */
  align-items: center; /* Add this line to vertically center content */
  
}

/* Clear floats after the columns */
nav:after {
  content: "";
  display: table;
  clear: both;
}

.spadelogo {
  max-width: 70px;
    object-fit: contain;
}

.CourRepo p {
  color: rgb(11, 91, 157);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  top: -100px; /* Adjust this value to move the text up or down */
}

.title {
	color: rgb(11, 91, 157);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 45px;
  text-align: center;
}

.topnav-left{
	display: flex;
}

.topnav-right{
	display: flex;
}

#logout {
	    padding-top: 20px;
    width: auto;
    height: 60px;
    padding-right: 20px;
}

.changePageIcon img{
	max-width: 80px;
  max-height: 90%;
  padding-top: 10px;
}

.changePageIcon {
	margin-left: auto;
	margin-right: 50px;
}

